<h2>Games</h2>
<h3>This is going to be a list of games for a user</h3>
<a href="show">
<div class="game-display">
  <h4>This is one games square</h4>
  <%= image_tag("/cno.png", :size => '256x256') %>
  <p>This is information about the game</p>
  <p>Created by: Andrew Durtka</p>
</div>
</a>
<a href="show">
<div class="game-display">
  <h4>This is another games square</h4>
  <p>This is information about the game, this game is great</p>
  <p>Created by: Brian Hanus</p>
</div>
</a>
