<div>
  <h2>Game name</h2>
  <div class="game-window">
    <%= render(:partial => 'ctfgame') %>
  </div>
  <div class="game-info">
    <h3>Game Info</h3>
    <p>This game was created by Andrew Durtka and is quite possibly going the be 2017's greatest gaming hilight.  A compelling story of a lost soul in search of yellow home.  This is one game you do not want to miss</p>
  </div>
  <div class="comment-section">

  </div>
</div>
